based on mob code done with Daniel

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [3]:
teis_df=pd.read_excel('../data/bdi3_all_evals.xlsx')

In [4]:
teis_df=teis_df.drop_duplicates()
teis_df.reset_index()
teis_df= teis_df.rename(columns={'Location - Sub Level 1':'Location'})

In [9]:
cog_sub_df=teis_df[['Child ID','Gender', 'Cognitive-Attention and Memory SS','Cognitive-Reasoning / Academic Skills SS','Cognitive-Perception and Concepts SS']]
cog_sub_df

,Child ID,Gender,Cognitive-Attention and Memory SS,Cognitive-Reasoning / Academic Skills SS,Cognitive-Perception and Concepts SS
0,44879,F,7.0,NaN,13.0
1,47795,F,9.0,14.0,7.0
2,54340,M,8.0,NaN,7.0
3,54344,F,14.0,NaN,10.0
4,54515,M,9.0,NaN,10.0
...,...,...,...,...,...
23942,SP03287,F,9.0,NaN,15.0
23943,SP03288,F,13.0,14.0,14.0
23944,SP03289,F,10.0,9.0,10.0
23945,SP03290,M,7.0,8.0,9.0
23946,SP03291,M,7.0,NaN,12.0

In [12]:
cog_am_avg = cog_sub_df.groupby('Gender')['Cognitive-Attention and Memory SS'].agg(np.mean).to_frame()
cog_am_avg

        Cognitive-Attention and Memory SS
Gender
F                                8.585497
M                                8.278410
U                                9.251701

In [13]:
cog_ra_avg = cog_sub_df.groupby('Gender')['Cognitive-Reasoning / Academic Skills SS'].agg(np.mean).to_frame()
cog_ra_avg

        Cognitive-Reasoning / Academic Skills SS
Gender
F                                       8.397452
M                                       7.921494
U                                       9.050955

In [14]:
cog_pc_avg = cog_sub_df.groupby('Gender')['Cognitive-Perception and Concepts SS'].agg(np.mean).to_frame()
cog_pc_avg

        Cognitive-Perception and Concepts SS
Gender
F                                   8.116298
M                                   7.560345
U                                   8.785714

In [16]:
cog_sub_avg= cog_am_avg.merge(cog_ra_avg, how='outer', on='Gender')
cog_sub_avg

,Cognitive-Attention and Memory SS,Cognitive-Reasoning / Academic Skills SS
Gender,,
F,8.585497,8.397452
M,8.278410,7.921494
U,9.251701,9.050955

In [17]:
cog_sub_avg= cog_sub_avg.merge(cog_pc_avg, how='outer', on='Gender')
cog_sub_avg

,Cognitive-Attention and Memory SS,Cognitive-Reasoning / Academic Skills SS,Cognitive-Perception and Concepts SS
Gender,,,
F,8.585497,8.397452,8.116298
M,8.278410,7.921494,7.560345
U,9.251701,9.050955,8.785714